/* Default styling */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', serif;
  background-color: #fff;
}

h1, h3 {
  font-family: 'Poppins', serif;
}

/* End of Default Styling */
/* Navbar Styles */
.nav-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 8.6rem;
}

.top_logo {
  width: 16.5%;
  padding-left: 8.95rem;
}

.nav-btn {
  font-size: 1.8rem;
  outline: none;
  border: none;
  cursor: pointer;
  margin-right: 6.92rem;
  width: 15rem;
  padding: 1.04rem 0;
  border-radius: 2.2rem;
  border: .1rem #FF00C1 solid;
  color: #FF00C1;
  background-color: #fff;
  font-weight: 100;
  box-shadow: 0px 1px 11px -3px rgba(255, 0, 193, 1);
  transition: all .6s;
}

.nav-btn:hover {
  border: .1rem #FF00C1 solid;
  color: #fff;
  background-color: #FF00C1;
}

.nav-btn:active {
  transform: translateY(1rem);
}

/* End of Navbar Styles */
/* Header Styles */
.header-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 21.9rem;
  text-align: center;
}

.main-heading {
  font-size: 5.28rem;
  font-weight: 700;
  font-family: 'Poppins', serif;
  margin-bottom: 2.5rem;
  color: #002931;
}

.header-para {
  font-size: 2.2rem;
  width: 42%;
  margin-top: 0;
  line-height: 3.2rem;
  color: #0F3339;
}

.header-btn {
  font-size: 2.29rem;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 3.28rem 0;
  width: 44rem;
  padding: 2.97rem 0 2.97rem .2rem;
  border-radius: 5rem;
  border: .1rem #FF00C1 solid;
  color: #fff;
  background-color: #FF00C1;
  font-weight: 600;
  box-shadow: 0px 1px 11px -3px rgba(255, 0, 193, 1);
  transition: all .6s;
  word-spacing: .1rem;
}

.header-btn:hover {
  border: .1rem #FF00C1 solid;
  color: #FF00C1;
  background-color: #fff;
}

.header-btn:active {
  transform: translateY(1rem);
}

.header-img {
  margin: 8.8rem;
  width: 71.9%;
}

.header-count {
  margin-top: 4.4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.community-number {
  margin-left: 31rem;
}

.messages-send {
  margin-left: 38rem;
}

.ct-img-1 {
  width: 5.1rem;
  margin-left: .1rem;
}

.ct-img-2 {
  width: 4.55rem;
  margin-left: .8rem;
}

.count-header {
  margin-top: -.5rem;
  font-size: 10.2rem;
  margin-bottom: 0;
  letter-spacing: .1rem;
  color: #002C33;
  text-align: center;
  font-family: 'Open sans'.serif;
}

.count-para {
  margin-top: 1.5rem;
  font-size: 2.5rem;
  letter-spacing: .1rem;
  text-align: center;
  color: #969DA0;
}

.ct-para-1 {
  margin-left: .2rem;
}

.ct-para-2 {
  margin-top: 1.5rem;
  margin-left: -3.3rem;
}

.ct-header-2 {
  margin-top: .11rem;
  letter-spacing: .2rem;
}

.middle-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12.5rem 0 5rem 0;
}

.middle-cards {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.middle-cards::before,
.middle-cards::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 100%;
}

.middle-heading {
  font-size: 4.25rem;
  font-weight: 700;
  letter-spacing: .1rem;
  margin-bottom: 0;
  color: #002933;
}

.middle-para {
  font-size: 1.77rem;
  line-height: 2.6rem;
  width: 80%;
  margin-top: 2.5rem;
  margin-right: 0;
  color: #526C6B;
}

/* curved-card-1 */

.grow-card {
  margin-top: 16.5rem;
  padding-top: 9.4rem;
  padding-bottom: 5.7rem;
  position: relative;
  background-color: #F6FBFF;
  margin-bottom: 30rem;
}

.grow-content {
  margin-top: 10.5rem;
  margin-left: 14.2rem;
  width: 50%;
}

.grow-card::before {
  background: url('images/bg-section-top-desktop-1.svg') no-repeat top center;
  background-size: cover;
  height: 165px;
}

.grow-card::after {
  background: url('images/bg-section-bottom-desktop-1.svg') no-repeat bottom center;
  height: 139px;
  top: 100%;
  background-size: cover;
}

.grow-img-main {
  width: 79%;
  margin-left: -1.3rem;
}

.grow-img, .yuser-img {
  width: 50%;
}

/* curved-card-2 */

.flowing-card {
  flex-direction: row-reverse;
  margin-bottom: 28.5rem;
}

.flowing-content {
  margin: 15rem 0 0 2.5rem;
  width: 50%;
}

.flowing-para {
  width: 82%;
}

.flowing-img {
  width: 50%;
  margin: 5.5rem 0 0 15rem;
}

.flowing-img-main {
  width: 82.5%;
}

/* curved-card-3 */

.yuser-card {
  position: relative;
  background-color: #F6FBFF;
  padding-bottom: 5.3rem;
  margin-bottom: 28.4rem;
}

.yuser-content {
  margin-top: 15rem;
  margin-left: 13.2rem;
  width: 50%;
}

.yuser-img-main {
  width: 80%;
}

.yuser-img {
  margin-top: 5.5rem;
  margin-left: -1.3rem;
}

.yuser-card::before {
  background: url('images/bg-section-top-desktop-2.svg') no-repeat top center;
  background-size: cover;
  height: 165px;
}

.yuser-card::after {
  background: url('images/bg-section-bottom-desktop-2.svg') no-repeat bottom center;
  height: 139px;
  top: 100%;
  background-size: cover;
}

.ready {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ready-heading {
  font-family: 'Poppins',serif;
  font-size: 4.35rem;
  margin-left: 1.7rem;
  margin-bottom: .8rem;
  word-spacing: .2rem;
}


/* End of Header Styles */
