/* Default styling */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', serif;
  background-color: #fff;
}

h1, h3 {
  font-family: 'Poppins', serif;
}

/* End of Default Styling */
/* Navbar Styles */
.nav-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 8.6rem;
}

.top_logo {
  width: 16.5%;
  padding-left: 8.95rem;
  animation: toBottom 1.8s;
}

.nav-btn {
  font-size: 1.8rem;
  outline: none;
  border: none;
  cursor: pointer;
  margin-right: 6.92rem;
  width: 15rem;
  padding: 1.04rem 0;
  border-radius: 2.2rem;
  border: .1rem #FF00C1 solid;
  color: #FF00C1;
  background-color: #fff;
  font-weight: 100;
  box-shadow: 0px 1px 11px -3px rgba(255, 0, 193, 1);
  transition: all .6s;
  animation: toBottom 1.8s;
}

.nav-btn:hover {
  border: .1rem #FF00C1 solid;
  color: #fff;
  background-color: #FF00C1;
}

.nav-btn:active {
  transform: translateY(1rem);
}

/* End of Navbar Styles */
/* Header Styles */
.header-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 21.9rem;
  text-align: center;
}

.main-heading {
  font-size: 5.28rem;
  font-weight: 700;
  font-family: 'Poppins', serif;
  margin-bottom: 2.5rem;
  color: #002931;
  animation: toRight 1.8s;
}

.header-para {
  font-size: 2.2rem;
  width: 42%;
  margin-top: 0;
  line-height: 3.2rem;
  color: #0F3339;
  animation: toLeft 1.8s;
}

.header-btn {
  font-size: 2.29rem;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 3.28rem 0;
  width: 44rem;
  padding: 2.97rem 0 2.97rem .2rem;
  border-radius: 5rem;
  border: .1rem #FF00C1 solid;
  color: #fff;
  background-color: #FF00C1;
  font-weight: 600;
  box-shadow: 0px 1px 11px -3px rgba(255, 0, 193, 1);
  transition: all .6s;
  word-spacing: .1rem;
  animation: toTop 1.8s;
}

.header-btn:hover {
  border: .1rem #FF00C1 solid;
  color: #FF00C1;
  background-color: #fff;
}

.header-btn:active {
  transform: translateY(1rem);
}

/* Animations for the header */
@keyframes toBottom {
  0% {
    transform: translateY(-5rem);
    opacity: 0;
    transform: rotateZ(180deg);
  }

  40% {
    transform: translateY(3rem);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes toTop {
  0% {
    transform: translateY(7rem);
    transform: rotateZ(180deg);
    opacity: 0;
  }

  40% {
    transform: translateY(-3rem);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes toRight {
  0% {
    transform: translateX(-50rem);
    transform: rotateZ(180deg);
    opacity: 0;
  }

  40% {
    transform: translateX(8rem);
    opacity: 1;
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes toLeft {
  0% {
    transform: translateX(50rem);
    transform: rotateZ(180deg);
    opacity: 0;
  }

  40% {
    transform: translateX(-8rem);
    opacity: 1;
  }

  100% {
    transform: translateX(0);
  }
}

/* End of animations for heading */
.header-img {
  margin: 8.8rem;
  width: 71.9%;
}

.header-count {
  margin-top: 4.4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.community-number {
  margin-left: 31rem;
}

.messages-send {
  margin-left: 38rem;
}

.ct-img-1 {
  width: 5.1rem;
  margin-left: .1rem;
}

.ct-img-2 {
  width: 4.55rem;
  margin-left: .8rem;
}

.count-header {
  margin-top: -.5rem;
  font-size: 10.2rem;
  margin-bottom: 0;
  letter-spacing: .1rem;
  color: #002C33;
  text-align: center;
  font-family: 'Open sans'.serif;
}

.count-para {
  margin-top: 1.5rem;
  font-size: 2.5rem;
  letter-spacing: .1rem;
  text-align: center;
  color: #969DA0;
}

.ct-para-1 {
  margin-left: .2rem;
}

.ct-para-2 {
  margin-top: 1.5rem;
  margin-left: -3.3rem;
}

.ct-header-2 {
  margin-top: .11rem;
  letter-spacing: .2rem;
}

.middle-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12.5rem 0 5rem 0;
}

.middle-cards {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.middle-cards::before,
.middle-cards::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 100%;
}

.middle-heading {
  font-size: 4.25rem;
  font-weight: 700;
  letter-spacing: .1rem;
  margin-bottom: 0;
  color: #002933;
}

.middle-para {
  font-size: 1.77rem;
  line-height: 2.6rem;
  width: 80%;
  margin-top: 2.5rem;
  margin-right: 0;
  color: #526C6B;
}

/* curved-card-1 */
.grow-card {
  margin-top: 16.5rem;
  padding-top: 9.4rem;
  padding-bottom: 5.7rem;
  position: relative;
  background-color: #F6FBFF;
  margin-bottom: 30rem;
}

.grow-content {
  margin-top: 10.5rem;
  margin-left: 14.2rem;
  width: 50%;
}

.grow-card::before {
  background: url('images/bg-section-top-desktop-1.svg') no-repeat top center;
  background-size: cover;
  height: 165px;
}

.grow-card::after {
  background: url('images/bg-section-bottom-desktop-1.svg') no-repeat bottom center;
  height: 139px;
  top: 100%;
  background-size: cover;
}

.grow-img-main {
  width: 79%;
  margin-left: -1.3rem;
}

.grow-img, .yuser-img {
  width: 50%;
}

/* curved-card-2 */
.flowing-card {
  flex-direction: row-reverse;
  margin-bottom: 28.5rem;
}

.flowing-content {
  margin: 15rem 0 0 2.5rem;
  width: 50%;
}

.flowing-para {
  width: 82%;
}

.flowing-img {
  width: 50%;
  margin: 5.5rem 0 0 15rem;
}

.flowing-img-main {
  width: 82.5%;
}

/* curved-card-3 */
.yuser-card {
  position: relative;
  background-color: #F6FBFF;
  padding-bottom: 5.3rem;
  margin-bottom: 28.4rem;
}

.yuser-content {
  margin-top: 15rem;
  margin-left: 13.2rem;
  width: 50%;
}

.yuser-img-main {
  width: 80%;
}

.yuser-img {
  margin-top: 5.5rem;
  margin-left: -1.3rem;
}

.yuser-card::before {
  background: url('images/bg-section-top-desktop-2.svg') no-repeat top center;
  background-size: cover;
  height: 165px;
}

.yuser-card::after {
  background: url('images/bg-section-bottom-desktop-2.svg') no-repeat bottom center;
  height: 139px;
  top: 100%;
  background-size: cover;
}

.ready {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ready-heading {
  font-family: 'Poppins', serif;
  font-size: 4.35rem;
  margin-left: 1.7rem;
  margin-bottom: .8rem;
  word-spacing: .2rem;
}

/* End of Header Styles */
/* Footer Section */
.footer {
  width: 100%;
  margin-top: 28.1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: hsl(192, 100%, 9%);
  color: #fff;
  position: relative;
  padding-bottom: 11rem;
}

.footer::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 100%;
  background: url('images/bg-footer-top-desktop.svg') no-repeat top center;
  height: 16.8rem;
  background-size: cover;
}

.main-footer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 14rem;
}

.contact-section {
  margin-left: 13.29rem;
  width: 50%;
}

.footer-logo {
  width: 26.2rem;
}

.footer-para {
  width: 50%;
  font-size: 1.545rem;
  margin-top: 2.5rem;
  line-height: 2.7rem;
  font-weight: 600;
}

.phone, .mail {
  font-size: 1.75rem;
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.phone {
  margin-top: 2.8rem;
}

.mail {
  margin-top: 2.1rem;
}

.phone img, .mail img {
  margin-left: .26rem;
  margin-right: 2.04rem;
}

.newsletter-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
}

.news-heading {
  text-transform: uppercase;
  font-size: 2.47rem;
  font-family: 'Open Sans', serif;
  margin: .35rem 0 0 2.3rem;
  letter-spacing: .1rem;
}

.news-para {
  font-size: 1.5rem;
  width: 53%;
  margin: 2rem 0 0 2.1rem;
  line-height: 2.7rem;
  font-family: 'Open Sans', serif;
  letter-spacing: .05rem;
}

.form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 4.3rem 0 0 2.15rem;
  color: #fff;
}

.email-input {
  outline: none;
  border: none;
  width: 33.75rem;
  height: 5.15rem;
  margin-right: 2rem;
  padding-left: 1.5rem;
  border-radius: .75rem;
  font-size: 1.7rem;
}

.subscribe-btn {
  font-size: 1.78rem;
  font-weight: 600;
  font-family: 'Open Sans', serif;
  width: 17.62rem;
  height: 5.4rem;
  border-radius: .5rem;
  margin-left: 2.4rem;
  background-color: #FF00C1;
  color: #fff;
  transition: all .5s;
  border: none;
  cursor: pointer;
  outline: none;
}

.subscribe-btn:hover {
  background-color: #ED006E;
  color: #Fff;
}

.social-attribution {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 6.6rem 0 0 13.2rem;
}

.social {
  margin-right: 2.45rem;
  cursor: pointer;
  font-size: 4rem;
  color: #fff;
  transition: transform .3s;
}

.social:hover {
  transform: rotateZ(360deg);
}

.facebook:hover {
  color: #3b5998;
}

.twitter:hover {
  color: #00acee;
}

.instagram:hover {
  background-image: linear-gradient(to right bottom, #8134af, #992ea7, #ae289e, #bf2394, #ce238a, #e0317e, #ed4472, #f75868, #ff7a5f, #ff9b5c, #ffbb64, #feda77);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.attribution {
  display: flex;
  justify-content: center;
  align-items: center;
  word-spacing: .5rem;
  margin-left: 5rem;
}

.attribution p {
  font-size: 1.4rem;
  font-family: 'Open Sans', serif;
  color: #fff;
  font-weight: 600;
}

.attribution a {
  font-family: 'Open Sans', serif;
  font-size: 1.4rem;
  text-decoration: none;
  font-weight: 500;
  color: #fff;
  transition: color .5s;
  font-weight: 600;
}

.attribution .icon {
  font-size: 1.8rem;
  transition: all .2s;
  cursor: pointer;
}

.ico1 {
  color: #4D555A;
}

.ico2 {
  color: #E14557;
}

.icon:hover {
  transform: rotateZ(360deg);
}

/* End of footer section */
/* Responsive Design */
@media screen and (max-width: 1250px) {
  .top_logo {
    width: 20%;
  }

  .header-para {
    width: 65%;
  }

  .header-btn {
    width: 40rem;
    font-size: 2rem;
  }

  .community-number {
    margin-left: 0;
  }

  .messages-send {
    margin-left: 0;
  }

  .header-count {
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    flex-wrap: wrap;
  }

  .count-header {
    font-size: 8rem;
  }

  .count-para {
    font-size: 2rem;
    margin-left: 0;
  }

  .grow-content, .flowing-content, .yuser-content {
    margin-top: 2rem;
  }

  .grow-content {
    margin-left: 8rem;
  }

  .middle-heading {
    font-size: 4rem;
    text-align: left;
  }

  .middle-para {
    font-size: 1.7rem;
    width: 90%;
    text-align: left;
  }

  .grow-img-main {
    width: 90%;
  }

  .flowing-img {
    margin-left: 8rem;
  }

  .flowing-img-main {
    width: 90%;
  }

  .flowing-content {
    margin-top: 3.5rem;
  }

  .yuser-content {
    margin-top: 2rem;
  }

  .ready-heading {
    font-size: 4.35rem;
  }

  .main-footer {
    display: flex;
    justify-content: center;
    align-items: space-around;
  }

  .contact-section {
    margin-left: 8rem;
  }

  .footer-para {
    width: 75%;
  }

  .news-para {
    width: 70%;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .email-input {
    margin-right: 0;
  }

  .subscribe-btn {
    margin-top: 2rem;
  }

  .social-attribution {
    margin-left: 9rem;
  }
}

@media screen and (max-width: 937px) {
  .top_logo {
    width: 30%;
  }

  .main-heading {
    margin: 0 3rem;
    font-size: 4.9rem;
  }

  .header-para {
    width: 72%;
    margin-top: 3.5rem;
    font-size: 2rem;
  }

  .header-btn {
    width: 38rem;
    font-size: 2.2rem;
  }

  .header-img {
    width: 85%;
    margin-left: 0;
    margin-right: 0;
  }

  .header-count {
    display: flex;
    flex-wrap: wrap;
  }

  .count-header {
    font-size: 7rem;
  }

  .count-para {
    font-size: 1.8rem;
  }

  .middle-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }

  .grow-img, .flowing-img, .yuser-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flowing-img {
    margin-left: 0;
  }

  .grow-img-main, .flowing-img-main, .yuser-img-main {
    width: 80%;
  }

  .grow-content, .flowing-content, .yuser-content {
    margin-top: 10rem;
    margin-left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .middle-para {
    width: 90%;
    line-height: 4rem;
    text-align: center;
    font-size: 2.5rem;
  }

  .main-footer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .newsletter-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 7rem;
  }

  .news-heading {
    font-size: 3.7rem;
  }

  .news-para {
    width: 73%;
    font-size: 2.1rem;
    font-weight: 600;
  }

  .email-input {
    width: 40.75rem;
  }

  .contact-section {
    margin-top: 15rem;
    margin-left: 10rem;
    width: 100%;
  }

  .footer-logo {
    width: 30rem;
  }

  .footer-para {
    width: 80%;
    font-size: 2.2rem;
    font-weight: 600;
  }

  .phone, .mail {
    font-size: 2.2rem;
  }

  .phone img, .mail img {
    width: 2.4rem;
  }

  .social-attribution {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10.5rem;
  }

  .attribution {
    margin-left: 0;
    margin-top: 3rem;
  }
}

@media screen and (max-width: 651px) {
  .top_logo {
    width: 32%;
    padding-left: 3rem;
  }

  .nav-btn {
    margin-right: 1rem;
    font-size: 1rem;
    width: 9rem;
  }

  .header-section {
    padding-top: 14rem;
  }

  .main-heading {
    font-size: 2.8rem;
  }

  .header-para {
    width: 85%;
    font-size: 1.8rem;
  }

  .header-btn {
    width: 25rem;
    font-size: 1.5rem;
    padding: 1.97rem 0 1.6rem .2rem;
  }

  .header-count {
    display: flex;
    flex-direction: column;
  }

  .count-header {
    font-size: 4.2rem;
  }

  .count-para {
    font-size: 1.1rem;
    font-weight: 600;
  }

  .ct-img-1 {
    width: 3rem;
  }

  .ct-img-2 {
    width: 3.2rem;
  }

  .messages-send {
    margin-top: 5rem;
  }

  .middle-section {
    padding-top: 6rem;
  }

  .grow-card {
    margin-bottom: 20rem;
  }

  .grow-card::before {
    background: url('images/bg-section-top-mobile-1.svg') no-repeat top center;
    background-size: cover;
    height: 165px;
  }

  .grow-card::after {
    background: url('images/bg-section-bottom-mobile-1.svg') no-repeat bottom center;
    height: 139px;
    top: 100%;
    background-size: cover;
  }

  .grow-img-main, .flowing-img-main, .yuser-img-main {
    width: 60%;
  }

  .middle-heading {
    font-size: 2.5rem;
  }

  .middle-para {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 3rem;
    width: 83%;
  }

  .yuser-card {
    margin-bottom: 20rem;
  }

  .yuser-card::before {
    background: url('images/bg-section-top-mobile-2.svg') no-repeat top center;
    background-size: cover;
    height: 165px;
  }

  .yuser-card::after {
    background: url('images/bg-section-bottom-mobile-2.svg') no-repeat bottom center;
    height: 139px;
    top: 100%;
    background-size: cover;
  }

  .ready-heading {
    font-size: 2.8rem;
  }

  .footer::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    background: url('images/bg-footer-top-mobile.svg') no-repeat top center;
    height: 16.8rem;
    background-size: cover;
  }

  .footer {
    margin-top: 25rem;
  }

  .newsletter {
    width: 100%;
    margin-left: 2.5rem;
  }

  .newsletter-section {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .news-heading {
    font-size: 2rem;
  }

  .news-para {
    font-size: 1.2rem;
    line-height: 2.4rem;
  }

  .form {
    margin-left: 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.email-input {
  width: 28rem;
  height: 4rem;
}

.subscribe-btn {
  width: 12rem;
  height: 4rem;
  font-size: 1.3rem;
  margin-left: 17.5rem;
  margin-top: 1rem;
}

.contact-section {
  width: 100%;
  margin-left: 4rem;
  margin-top: 12rem;
  display: flex;
  flex-direction: column;
}

.footer-logo {
  width: 16rem;
}

.footer-para {
  font-size: 1.2rem;
  line-height: 2rem;
}

.phone, .mail {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.phone img, .mail img {
  width: 1.5rem;
}

.social-attribution {
  margin-left: 3rem;
}

.social {
  font-size: 2.8rem;
}

.attribution p, .attribution a, {
  font-size: 1.2rem;
}
}

/* End of Responsive Design */
